tag-version-prefix=
@ggj:registry=http://registry.gogojungle.net/
//registry.gogojungle.net/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJjb25naHV5bmhobyIsImdpdGh1Yi9vd25lci9nb2dvanVuZ2xlL3RlYW0vZ29nb2p1bmdsZS12aWV0bmFtIl0sIm5hbWUiOiJjb25naHV5bmhobyIsImdyb3VwcyI6WyIkYWxsIiwiQGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGF1dGhlbnRpY2F0ZWQiLCJjb25naHV5bmhobyIsImdpdGh1Yi9vd25lci9nb2dvanVuZ2xlL3RlYW0vZ29nb2p1bmdsZS12aWV0bmFtIl0sImlhdCI6MTY5NzY4NjkxNCwibmJmIjoxNjk3Njg2OTE0LCJleHAiOjE3MDU0NjI5MTR9.xMl6oOab4tWSC2Vn9t-RIQu4HLk1Hqzi1mvGX90useA
